body {
  background-color: #f7f7f7;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  background-color: #1b5e20; /* Dark green background color */
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.ui.secondary.pointing.menu {
  border: none;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ui.secondary.pointing.menu .item {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 1rem;
}
.ui.secondary.pointing.menu .item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff !important;
}
.logo {
  margin: 200px;
  height: 40px;
  margin-right: 1rem;
}
.logo img {
  max-height: 100%;
  width: auto;
}
.main-content {
  padding: 4rem 0;
  text-align: center;
  animation: fadeInUp 1s ease;
}
.main-content img {
  max-width: 100%;
  height: auto;
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Media query for iPhone 13 in portrait mode */
@media only screen and (max-width: 1170px) {
  /* Adjust styles as needed */
}

/* Media query for iPhone 13 in landscape mode */
@media only screen and (min-width: 1171px) and (max-width: 2532px) {
  /* Adjust styles as needed */
}


.delete-button {
  color: red;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin-left: 10px;
}
.delete-button:hover {
  text-decoration: underline;
}