body {
  background: #eeeeeed8;
  padding: 75px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #c0c0c0;
  font-weight: 100;
  text-align: left;
}

.btn {
  color: rgb(0, 0, 0);
  background: #8aee81;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  /* Updated transition duration to 0.5s */
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: rgb(1, 102, 31);
  padding: 20px 20px;
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: rgb(1, 102, 31);
  padding: 20px 20px;
}

.footer {
  font-size: 8px;
  color: #fff;
  clear: both;
  display: block;
  letter-spacing: 5px;
  border: 1px solid #fff;
  padding: 5px;
  text-decoration: none;
  width: 210px;
  margin: auto;
  margin-top: 400px;
}

.schedule {
  margin-top: 5%;
  border: 10px inset;
  margin-left: 5%;
}

.logo {
  padding-top: 5%;
}

/* Schedule Table */
table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #8aee81;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  transition: all 0.5s ease;
  font-family: 'Oswald', sans-serif;
}

table.darkTable td,
table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
  transition: all 0.5s ease;
}

table.darkTable tbody td {
  font-size: 13px;
  color: #000000;
  transition: all 0.5s ease;
}

table.darkTable tr:nth-child(even) {
  background: #8aee81;
  transition: all 0.5s ease;
}

table.darkTable thead {
  background: #8aee81;
  border-bottom: 3px solid #000000;
  transition: all 0.5s ease;
}

table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #4A4A4A;
  transition: all 0.5s ease;
}

table.darkTable thead th:first-child {
  border-left: none;
  transition: all 0.5s ease;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #8aee81;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
  transition: all 0.5s ease;
}

table.darkTable tfoot td {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  transition: all 0.5s ease;
}

/* Apply a fade-in animation to all elements */
* {
  animation: fadeIn 0.5s ease both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}



/* Loading Screen */

  /* Loading screen styles */
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-icon {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}








